body{
    background-color: rgb(33, 35, 35);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(https://img.magnific.com/free-vector/digital-technology-background-with-blue-orange-light-effect_1017-27423.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    background-size: cover;
    align-items: center;
}

/* LOGIN SECTION */


.login-card{
  display: flex;
  margin: 150px auto;/* distance from above */
  background-color: #101111;
  border: none;
  padding: 12px 30px; /* box area length and width */
  font-weight: bold;
  transition: 1s;
  border-style: solid;
  border-width: 4px;
  border-color:rgb(237, 60, 2);
  color: #f4f1f1;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
}

.login-card:before{
    content: '';
    background: linear-gradient(
    45deg, black, silver , black , silver
         , black , silver, black , silver
    );
    opacity: 1;
    position:absolute;
    border-radius: 20px;
    top : -2px;
    filter: blur(1px);
    left:-2px;
    background-size:600%;
    animation: glowing 100s linear infinite;
    width: calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -1;
}
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 500% 0;}
  100% {background-position: 0 0;}
}


.login-section{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.login{
    
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    border-color: rgb(19, 19, 18);
    cursor:pointer;
    transition: 0.1s;
}
.login:hover{
    transform:scale(1.05) ;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);

}

.sub-but{
    background-color:rgb(15, 15, 14);
    border-radius: 50px;
    margin-top: 1px;/* distance from above */
    color: white; /* text color */
    padding: 8px 12px; /* box area length and width */
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    justify-content: center;
    border-color: lightgoldenrodyellow;
    border-width: 1px;
    border-style: solid;
    display: block;
    margin: 3px auto 0 auto;
    shape-rendering: crispEdges;
}
/* The button "glows" and grows slightly when hovered */
.sub-but:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    background-color: #6e0bf9; /* Smooth color change */
    transform: translateY(-2px); /* Slight lift effect */
    transition: all 0.3s ease;
}
